<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Ninja</h1>
    <form action="/create_ninja" method="POST"> 
        
        <select name="dojos_id"> 
            <!-- get dojos_id from htmml page and goes to route /create_ninja in controller-->

            <!-- Need to create an option list for the ninja to select a dojo. -->
            <!-- Note that we are passing the dojo id into the value -->
            {% for dojo in all_dojos %}
            <option value={{dojo.id}}>{{dojo.name}}</option>  
            {% endfor %}          
        </select>

        <label for="fname">First Name:</label><br>
        <input type="text" name="fname"> <br>
        <label for="lname">Last Name:</label><br>
        <input type="text" name="lname"><br>
        <label for="age" >Age:</label><br>
        <input type="text" name="age"><br>
        <input type="submit" value="Create">
    </form> 

    <a href = "/">Home</a>
    

</body>
</html>