<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
    {% endwith %}

    <h1>Update User</h1>
    <form action="/update/{{user.id}}" method="POST">  <!-- connects to route to update user -->
        
        <!-- user passed from server.py -->
        <label for="fname">First Name:</label><br>
        <input type="text" name="fname" value = {{user.first_name}}> <br>
        <label for="lname">Last Name:</label><br>
        <input type="text" name="lname" value = {{user.last_name}}><br>
        <label for="email" >Email:</label><br>
        <input type="text" name="email" value = {{user.email}}><br>
        <input type="submit" value="Update User">
    </form> 

    <a href = "/show_users">Home</a>
    <a href = "/show/{{user.id}}">Show User</a>
    

</body>
</html>