<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>New Books</h1>
    <form action="/create_book" method="POST">
        <label for="title">Title:</label><br>
        <input type="text" name="title"> <br>
        <label for="num_of_pages">Number of Pages:</label><br>
        <input type="text" name="num_of_pages"> <br>
        <input type="submit" value="Create">
    </form> 


    <h1>All Books</h1>
    {% for one_book in all_books %}
        <p><a href = "/show_book_authors/{{one_book.id}}">{{one_book.title}}</a></p> 
        <hr>
    {% endfor %}

    <a href = "/index">Home</a>


</body>
</html>