<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/edit_sighting.css">

</head>
<body>

    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
    {% endwith %}


    <div class = "full">
        <div class = "first">
            <h1>Sasquatch Websighting</h1>
        </div>
        
        <div class = "second">
            <h3>{{users.first_name}}</h3> 
            <a href = "/showUser">Dashboard</a><br>
            <a href = "/log_out">Logout</a>
        </div>
    </div>

    <h1>Edit the Sighting</h1>

    <form action="/update/{{sighting.user_id}}" method="post">
        
        <div class = "whole">
            <div class = "second-pt">        
                <label for="location">Location:</label><br>
                <input type="text" name="location"> <br> 

                <p>What Happened:</p><br>
                <textarea name="what_happened" rows="10" cols="30">
                </textarea><br>
            </div>


            <div class = "second-pt">
                <label for="created_at">Date of sighting:</label><br>
                <input type="date" id="created_at" name="created_at"><br>

                <label for="number"># of Sasquatches:</label><br>
                <input type="number" name="number"> <br>   

                <button type="submit">Submit</button>
            </div>
        
        </div>

    </form> 



</body>
</html>