<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/view_sighting.css">

</head>
<body>

    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
    {% endwith %}

    <h1>Sasquatch Websighting</h1> 


    <h3>{{users.first_name}}</h3> 
    <a href = "/showUser">Dashboard</a>
    <a href = "/log_out">Logout</a>

    <h1>{{one_sighting.location}} on {{one_sighting.created_at}}</h1> 
    <p>What happened: </p>
    <p>{{one_sighting.what_happened}}</p>
    <p>Number of Sasquatches: {{one_sighting.number}}</p>

    <p>Reported by: {{other_user.first_name}}</p>

    <hr>


<!-- START EDITING -->
    <!-- <a href = "/add_skeptic_sighting/{{one_sighting.id}}">Believe It</a> -->
    <p>Skeptics:</p><br>
    <a href = "/create_skeptic/{{one_sighting.id}}">Believe It</a>

    <!-- <form action="/create_skeptic" method="POST">
        <input type="submit" value="Believe it">
    </form>  -->

<!-- find a way to dispalya all skeptics on page -->

    <!-- user_id &  sighting_id-->

    {% for one_sighting in all_sightings %}
        <p>Skeptics: {{one_sighting.skeptic.first_name}} {{one_sighting.user.last_name}}</p>   
    {% endfor %}

    
    <!-- {% for one_user in all_users %}
        <p>Skeptics: {{one_user.first_name}}</p>   
    {% endfor %} -->


    <!-- {% for one_skeptic in all_skeptics %}
        <p>Skeptics: {{one_skeptic.user.first_name}} {{one_sighting.user.last_name}}</p>   
    {% endfor %} -->



</body>
</html>