<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/view_sighting.css">

</head>
<body>

    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
    {% endwith %}

    <h1>Sasquatch Websighting</h1> 


    <h3>{{users.first_name}}</h3> 
    <a href = "/showUser">Dashboard</a>
    <a href = "/log_out">Logout</a>

    <h1>{{sighting.location}} on {{sighting.created_at}}</h1> 
    <p>What happened: </p>
    <p>{{sighting.what_happened}}</p>
    <p>Number of Sasquatches: {{sighting.number}}</p>


    <hr>



<!-- START EDITING -->
    <p>Skeptics:</p><br>




    {% if curr_status == True %}
        <a href = "/delete_skeptic/{{sighting.id}}">Delete It</a>
    {% else %}
        <a href = "/create_skeptic/{{sighting.id}}">Believe It</a>   
    {% endif %}

<!-- find a way to dispalya all skeptics on page -->

    <!-- user_id &  sighting_id-->

    {% for one_user in sighting_user.skepticalUsers %}
        <p>Skeptics: {{one_user.first_name}} {{one_user.last_name}}</p>   
    {% endfor %}

    




</body>
</html>