<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>New Author</h1>
    <form action="/create_author" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" name="name"> <br>
        <input type="submit" value="Create">
    </form> 


    <h1>All Authors</h1>
    {% for one_author in all_authors %}
        <p><a href = "/show_author_books/{{one_author.id}}">{{one_author.name}}</a></p> 
        <!-- dojo.id comes from (check route in controller_dojos) -> gets Dojo object properties-->
        <hr>
    {% endfor %}

    <a href = "/book">Add Book</a>


</body>
</html>