<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>User {{user.id}}</h1>
    <a href = "/show_users">Home</a>

        <p>First Name: {{user.first_name}}</p>
        <p>Last Name: {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Created On: {{user.created_at}}</p>
        <p>Last Updated On: {{user.updated_at}}</p>
        <hr>

    <a href = "/edit/{{user.id}}">Edit</a>
    <a href = "/delete/{{user.id}}">Delete</a>
    
</body>